<div class="grid grid-cols-12 py-128 gap-16 px-48 swiper-slider overflow-hidden">
    <div class="swiper-container col-span-10">
        <div class="swiper-wrapper">
            {% for recipe in recipes %}
            <div class="swiper-slide">
                <div class="">
                    <img class="object-cover w-full h-[555px] -md:h-[275px]" src="{{recipe.img_featured.getThumb(auto,555, {mode:'auto' , extension: 'webp' })}}" alt="">
                </div>
                <div class="text-18 leading-[64px] uppercase text-secondary font-medium">{{recipe.title}}</div>
                <div class="flex gap-8 items-center text-32 leading-[64px] font-medium -md:flex-col -md:gap-4 -md:text-24 -md:leading-[32px] -md:items-start">
                    <div class="text-secondary">Receta de {{recipe.title}} </div>
                    <div class="text-primary ">{{recipe.alcohol}}º</div>
                    <div class="text-primary ">{{recipe.capacity}}</div>
                </div>
                <div class="pr-[160px] text-18 leading-6 -md:pr-0">{{recipe.description|striptags|slice(0, 200)}}</div>
                <a href="{{ 'receta-interior'|page({slug: recipe.slug }) }}"  class="c-btn__secondary mt-32 py-12 px-48 -md:px-40">{{'Veure Receptes'|_}} <img src="{{'assets/images/icons/arrow--up-right.svg'|theme}}" class="svg transition-transform duration-300"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
