@responsive {
    .c-btn {

        &__primary {
            @apply
            bg-secondary
            text-white
            flex
            cursor-pointer
            justify-center
            items-center
            p-16
            gap-8
            w-fit
            rounded-full
            text-16
            leading-1.5
            transition-all
            duration-300
            uppercase
            hover:bg-primary;
            & svg{
                @apply w-24 h-24;

            }
            & path{
                @apply fill-white;
            }
        }


        &__secondary {
            @apply
            bg-primary
            text-white
            flex
            cursor-pointer
            justify-center
            items-center
            p-16
            font-medium
            uppercase
            gap-8
            w-fit
            rounded-full
            text-18
            leading-6
            transition-all
            duration-300
            hover:bg-secondary;
           & svg{
                @apply w-24 h-24;
            }
        }

        &__outline {
            @apply
            bg-transparent
            text-primary
            border-[1px]
            border-primary
            flex
            cursor-pointer
            justify-center
            uppercase
            items-center
            p-16
            gap-8
            w-fit
            rounded-full
            text-16
            leading-6
            transition-all
            duration-300
            hover:bg-primary
            hover:text-white
            hover:border-transparent;
        }

        &__ghost {
            @apply
            bg-transparent
            text-white
            flex
            cursor-pointer
            justify-center
            items-center
            p-16
            gap-8
            w-fit
            text-16
            leading-1.5
            transition-all
            duration-300
            hover:text-primary;


        }

        &--rounded {
            @apply
            p-24;
        }

        &--squared {
            @apply
            rounded-none
            border-[1px]
            border-white
            w-56
            h-56;

        }

        &--rounded-s {
            @apply
            p-8;
        }

        &--s {
            @apply
            py-8
            px-16;
        }

        &--l {
            @apply
            p-24;
        }

        &--dark {
            @apply
            text-white
            border-white
            hover:text-white;

        }

    }
}
.c-bullet{
    @apply
    text-16
    uppercase
    bg-primary
    rounded-full
    z-10
    top-1/2
    right-0
    text-white
    w-128
    h-128
    flex
    items-center
    justify-center
    text-center
    hover:bg-[#D4D4D4]
    hover:text-primary
    transition-all
    duration-300
    ease-in-out
    -md:bottom-0
    -md:top-auto
    fixed;
    & svg{
        @apply fill-white
    }
    &__absolute{
        @apply flex items-center justify-center flex-col
    }
}
