{% put rwSeo %}
    <title>{{ recipe.title }} | Tomeu Ferments</title>
    <meta name="description" content="{{  recipe.description|striptags }}"/>
    <meta name="title" content="{{ recipe.title }} | Tomeu Ferments"/>
    <meta name="keywords" content="keyword,otrakey"/>
    <meta property="og:title" content="{{ recipe.title }} | Tomeu Ferments"/>
    <meta property="og:description" content="{{ recipe.description|striptags }}"/>
    <meta property="og:image" content="{{recipe.img_featured.getPath()}}"/>
{% endput %}
<div class=c-banner>
    <div class="c-banner__item">
        <img class="c-banner__img h-[80vh]" src="{{recipe.img_featured.getThumb(1920,850, {mode:'crop' , extension: 'webp' })}}" alt="" width="100%" height="100%">
        <div class="absolute bottom-48 left-48 text-white text-64 space-y-3 uppercase">
            <h1>{{recipe.title}}<h1>
        </div>
         <div class="c-banner__contact">
            <div class="c-banner__contact--rrss absolute right-[2%] top-1/2 transform -translate-y-1/2 space-y-4">
                <a href="https://www.instagram.com/tomeuferments/" target="_blank">
                    <img src="{{'assets/images/icons/instagram.svg'|theme}}" alt="" class="svg w-32 h-32 fill-secondary">
                </a>
                <a href="https://www.youtube.com/@tomeuferments" target="_blank">
                    <img src="{{'assets/images/icons/youtube.svg'|theme}}" alt="" class="svg w-32 h-32 fill-secondary">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="px-48">
    <div class="grid grid-cols-12 pt-64 gap-8">
        <div class="col-start-1 col-span-7 text-secondary uppercase text-[80px] leading-[92px] font-light -md:text-48 md:col-span-12" >
            {{recipe.introduction |raw}}
        </div>
        <div class="col-start-4 col-span-5 py-56 -md:col-start-1 -md:col-span-12">
            <div class="text-18 leading-7">{{recipe.description|raw}}</div>
        </div>
    </div>
</div>
<div class="px-48 py-48">
    <div class="grid grid-cols-12 items-center">
        <div class="col-span-6 -md:col-span-12 ">
            <img src="{{recipe.img_one.getThumb('auto','auto', {mode:'auto' , extension: 'webp' })}}" alt="">
        </div>
        <div class="col-start-8 col-span-4 -md:col-start-1 -md:col-span-12  -md:pt-48">
            <div class="text-secondary uppercase text-48 leading-[50px] font-light">{{'Utensilis que necessitaràs'|_}}</div>
            <div class="text-18 leading-7 pt-48">
                {{recipe.tools|raw}}
            </div>
            <div class="text-secondary uppercase text-48 leading-[50px] font-light pt-48">{{'Ingredients'|_}}</div>
            <div class="text-18 leading-7 pt-48">
                {{recipe.ingredients|raw}}
            </div>
        </div>
    </div>
</div>
<div class="px-48 py-48">
    <div class="grid grid-cols-12 items-center">
        <div class="col-span-5 -md:col-span-12  -md:pt-48">
            <div class="text-secondary uppercase text-48 leading-[50px] font-light">{{'Passos a seguir'|_}}</div>
            <div class="text-18 leading-7 pt-48">
                {{recipe.steps|raw}}
            </div>
        </div>
        <div class="col-start-7 col-span-6 -md:col-span-12 -md:col-start-1 -md:pt-48">
            <img src="{{recipe.img_two.getThumb(auto,auto, {mode:'auto' , extension: 'webp' })}}" alt="">
        </div>
    </div>
</div>
<div class="px-48 py-48">
    <div class="grid grid-cols-12 items-center">

        <div class="col-start-2 col-span-4 -md:col-span-12 -md:col-start-1 -md:pt-48">
            <img src="{{recipe.img_three.getThumb(auto,auto, {mode:'auto' , extension: 'webp' })}}" alt="">
        </div>
        <div class="col-span-5 col-start-7 -md:col-span-12 -md:col-start-1  -md:pt-48">
            <!-- <div class="text-secondary uppercase text-48 leading-[50px] font-light">¿Cómo debe colocarse la madre?</div> -->
            <div class="text-18 leading-7 pt-48">
                {{recipe.additional_info|raw}}
            </div>
        </div>
    </div>
</div>
<div class="px-48 py-48 overflow-hidden">
    <div class="swiper-product">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in recipe.img_gallery %}
                <div class="swiper-slide">
                    <img src="{{image.getThumb(auto,550, {mode:'auto' , extension: 'webp' })}}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
