<footer class="c-footer c-text--p2">
    <div class="c-footer__top ">
        <div class="c-footer__top--phrase">
            {{'L’artesanal va més enllà del sabor. És un compromís.'|_}}
        </div>
        <div class="c-footer__top--form">
            <div class="c-form" id="contact-form">
                <div class="c-form__title">
                    <h2 class="c-form__title--text">{{'Contacta’ns'|_}}</h2>
                </div>
                {% component 'ContactForm' %}
            </div>
        </div>
    </div>
    <div class="c-footer__middle">
        <div class="c-footer__middle--logo">
            <a href="{{'home'| page}}">
                <img src="{{'assets/images/logo-white.svg'|theme}}" alt="Logo Tomeu Ferments" class="svg">
            </a>
            <div class="c-footer__middle--logo-rrss">
                <a href="https://www.instagram.com/tomeuferments/" target="_blank" class="p-12">
                    <img src="{{'assets/images/icons/instagram.svg'|theme}}" class="svg ">
                </a>
                <a href="https://www.facebook.com/tomeuferments" target="_blank" class="py-12 px-[18px]">
                    <img src="{{'assets/images/icons/facebook.svg'|theme}}" class="svg ">
                </a>
            </div>
        </div>
        <div class="c-footer__middle--links ">
                <a href="{{'index'| page}}">{{'Inici'|_}}</a>
                <a href="{{'receta'| page}}">{{'Receptes'|_}}</a>
        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="c-footer__copyright">
            © {{ "now"|date("Y") }} Tomeu Ferments - {{ 'Tots els drets reservats'|_ }}
        </div>
        <div class="c-footer__bottom__legal">
            <a target="_blank" href="{{'aviso-legal'| page}}">{{'Avis legal'|_}}</a> |
            <a target="_blank" href="{{'politica-de-cookies'| page}}">{{'Política de cookies'|_}}</a> |
            <a target="_blank" href="{{'politica-de-privacidad'| page}}">{{'Política de privacidad'|_}}</a>
        </div>

    </div>
</footer>
